<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input HTML Form Pack by Tooplate</title>
    <!--

    Template 2105 Input

	http://www.tooplate.com/view/2105-input

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/tooplate.css">
</head>

<body id="Dashboard">






<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome  <%= user.name %> to your Dashboard.</p>
<a href="/logout" class="btn btn-secondary">Logout</a>








  <footer class="row tm-mt-big mb-3">
        <div class="col-xl-12 text-center font-weight-light">
            <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5">
                Copyright &copy; 2021 Smart Developer 
                <!-- - Design: -->
                <!-- <a rel="nofollow" href="http://tooplate.com" class="tm-footer-link">Smart Developer</a> -->
            </p>
        </div>
    </footer>
</body>

</html>